node_modules
dist
.claude

# Keep environment variables out of version control
.env
#pour éviter de push tout les fichiers générés par intlayer
.intlayer

/generated/prisma

# Dossiers de documentation apprentissage
docs/apprentissage/
docs/apprentissage-frontend/
